<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Stoplight Coding Challenge - Swagger Request Maker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <style>
    body {
      width: 500px;
    }
  </style>
</head>

<body>
  <div id="root"></div>
  <script src="chrome-extension://lmhkpmbekcpmknklioeibfkpmmfibljd/js/redux-devtools-extension.js"></script>
  <script src="http://localhost:3000/js/app.bundle.js"></script>
</body>

</html>
